*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(./bg/Bg.jpg) ;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}  

.gameinfo{
    color: rgb(36, 172, 172);
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);    
    background-color: rgba(190, 29, 29, 0.35);
    border-radius: 1rem;
    border: 1px solid rgba(129, 21, 21, 0.50);
    padding: 5rem, 10rem;
    text-align: center;



}

.btn{
    
}